# конфигурация для оплаты, юмани
yoomoney_client_id=<>
yoomoney_name=<>
yoomoney_redirect_url=<>
yoomoney_token=<>

# конфигурация для бота
token=<>

# конфигурация для базы данных
database_name=<>
database_port=<>
database_server=<>